<<<<<<< HEAD
<<<<<<< HEAD
p {
    font-size: 16px;
=======
body {
    width: 100%;
}

p {
    font-size: 18px;
>>>>>>> fa18c7bd07612b5ae189f5fd6d1ce1c654cdf391
=======
p {
    font-size: 16px;
>>>>>>> aa8e2619529d178b564ea4221306447187302cd0
    font-weight: 700;
}

img {
    width: 100%;
    height: 750px;
}
